# ignore all files in any directory named 'reports' but keep the directory
reports/*
!reports/

# ignore the assets folder and files in it - use assets to store chocolately packages, and executable
/assets/