<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git.install"
        installArguments='/LOADINF="C:\Users\FTCAdmin\Desktop\FIRST Workstation Installs\git_install.inf"'
        packageParameters="" 
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="notepadplusplus"
        packageParameters=""
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="googlechrome"
        packageParameters=""
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="freecad"
        packageParameters='/InstallDir="C:\Program Files\FreeCAD"'
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="inkscape"
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="corretto11jdk"
        allowMultipleVersions="true" ignoreDependencies="false"
    />
</packages>