<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git.install" source="https://community.chocolatey.org/api/v2/"
        installArguments='/LOADINF="C:\Users\FTCAdmin\Desktop\FIRST Workstation Installs\git_install.inf"'
        packageParameters="" 
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="notepadplusplus" source="https://community.chocolatey.org/api/v2/"
        packageParameters=""
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="googlechrome" source="https://community.chocolatey.org/api/v2/"
        packageParameters=""
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="freecad" source="https://community.chocolatey.org/api/v2/"
        packageParameters='/InstallDir="C:\Program Files\FreeCAD"'
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="inkscape" source="https://community.chocolatey.org/api/v2/"
        allowMultipleVersions="false" ignoreDependencies="false"
    />
    <package id="inkscape" source="https://community.chocolatey.org/api/v2/"
        allowMultipleVersions="false" ignoreDependencies="false"
    />
</packages>